body {
    padding: 50px;
    font: 16px "Lucida Console", Menlo, monospace;
  }
  
  a {
    color: #FFC300;
  }
  
  img {
    width: normal;
    height: normal;
  }

  code {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  }