<!--  -->
<footer class="footer-main">
    <div class="footer">
        <ul style="list-style-type:none">
            <li>
                {%- if site.github_username -%}
                <a href="https://github.com/{{site.github_username}}" target="_blank" style="text-decoration:none">
                    <i class="fab fa-github" style="font-size:48px;color: #1B2021;"></i>
                </a>&nbsp;
                {%- endif -%}
                {%- if site.linkedin_username -%}
                    <a href="https://linkedin.com/in/{{site.linkedin_username}}" target="_blank" style="text-decoration:none">
                        <i class="fab fa-linkedin" style="font-size:48px;color: #1B2021;"></i>
                    </a>&nbsp;
                {%- endif -%}
                {%- if site.email -%}
                    <a href="mailto:{{site.email}}" style="text-decoration:none">
                        <i class="fas fa-paper-plane" style="font-size:48px;color: #1B2021;"></i>
                    </a>&nbsp;
                {%- endif -%}
            </li>
            &nbsp;
            <li>
                © {{ site.title }}, 2020
            </li>
        </ul>
    </div>
</footer>