<!-- Navbar -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1B2021;">
  <a class="navbar-brand" href="/">Home</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartop">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbartop">
    <ul class="navbar-nav mr-auto">
      {% for registered_page in site.page_names %}
        {% if registered_page == page.title  %}
          {% if registered_page != "home"  %}
            <li class="nav-item py-1">
              <a class="nav-link active" href="/{{ registered_page }}"><span class="text-capitalize">{{ registered_page }}</span></a>
            </li>
          {% endif %}
          {% else %}
          {% if registered_page != "home"  %}
            <li class="nav-item py-1">
              <a class="nav-link active" href="/{{ registered_page }}"><span class="text-capitalize">{{ registered_page }}</span></a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar py-1">
        <a class="nav-link p-0" href="https://linkedin.com/in/{{site.linkedin_username}}">
          <img src="../assets/linkedindp.jpeg" class="rounded-circle z-depth-0"
            alt="avatar image" height="45">
        </a>
      </li>
    </ul>
  </div>
</nav>