<div align="center" class="socialbtns">
	<p>
		<ul>
			{%- if site.github_username -%}
					<a href="https://github.com/{{site.github_username}}">
						<i class="fab fa-github" style="font-size:48px"></i>
					</a>
			{%- endif -%}
			{%- if site.linkedin_username -%}
					<a href="https://linkedin.com/in/{{site.linkedin_username}}">
						<i class="fab fa-linkedin" style="font-size:48px"></i>
					</a>
			{%- endif -%}
			{%- if site.email -%}
					<a href="mailto:{{site.email}}">
						<i class="fas fa-paper-plane" style="font-size:48px"></i>
					</a>
			{%- endif -%}
     	</ul>
	</p>
</div>