body {
    font-size: 13px;
    font-family: 'Lucida Console', Menlo, monospace;
}

#navbar-home {
    text-align: right;
}

div.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100vw;
    background-color: #EC9A29;
    margin: auto;
    text-align: center;
}

div.clock {
    height: 70vh;
    width: 100vw;
    margin: auto;
    background-color: #1B2021;
}

div.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100vw;
    background-color: #EC9A29;
}